@page
@model SportProductsWeb.Pages.DataTable.IndexApiModel
@{

    var LstProducts = Json.Serialize(Model.ListOfProducts);
}
<link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.css" rel="stylesheet" asp-append-version="true" />
<style>
    .dataTables_filter {
        text-align: left !important;
    }

        .dataTables_filter label, .dataTables_filter input {
            width: 80% !important;
        }

    .dataTables_length {
        text-align: right !important;
    }

    .dataTables_info {
        padding: 0 !important;
    }

    table.dataTable thead tr {
        background-color: #b2d9a0 !important;
    }
</style>
<table id="DataTableProducts" class="table table-striped table-active"></table>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons/js/datatables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#DataTableProducts").DataTable({
                dom: "<'row p-2'<'col-sm-12 col-md-6' f><'col-sm-12 col-md-6' p>>" +
                    "<'row p-2'<'col-sm-12 col-md-6' B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row bg-info p-2 my-1'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7' l>>",
                ajax: {
                    url: "/api/Product/advdatatable",
                    type: 'POST'
                },
                buttons: [{
                    extend: 'csv',
                    filename: 'products_list',
                    exportOptions: { columns: [0, 1, 2, 3, 4] }
                    , text: "Ext csv", className: "bg-success"
                },
                    'csv', 'print', 'excel', 'pdf', 'copy'],
                processing: true,
                serverSide: true,
                columns: [
                    { data: "id", title: "ID", width: "10%", className: "fw-bold" },
                    { data: "sku", title: "SKU", width: "10%" },
                    { data: "name", title: "Title", width: "40%" },
                    { data: "price", title: "Price", width: "15%" },
                    {
                        data: null, title: "IsAvailable", width: "10%",
                        render: function (data, type, row) {
                            if (type === "display") {
                                //return `<div class="form-check form-switch"><input disabled class="form-check-input" ${row.isAvailable ? "checked" : ""} type="checkbox" role="switch" id="flexSwitchCheckDefault"></div>`;
                                return row.isAvailable ? "<img src='https://th.bing.com/th?id=OIP.1-hJO7-Zuoh4M8SLkN3dXQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2' width='40' height='40'/>" : "<img src='https://th.bing.com/th?id=OIP.aNv8X9iW5tyRZcGnWB9VtAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2' width='40' heigth='40'/>";
                            }
                            return '';
                        }
                    },
                    {
                        data: null, title: "Price -10%",
                        render: function (data, type, row) {
                            if (type === "display") {
                                var price = parseFloat(row.price).toFixed(2);
                                price = price * (1 - 0.1);
                                var number = $.fn.dataTable.render.number(',', '.', 2, '$').display(price);

                                let color = 'text-danger';

                                if (price > 50)
                                    color = 'text-success';

                                return `<span class="${color}">${number}</span>`;

                            }
                            return 0;

                        }
                    },
                ]
            });

        });

    </script>

}




@*<thead><tr><th scope="col">#</th><th scope="col">First</th><th scope="col">Last</th><th scope="col">Handle</th></tr></thead>*@
