@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a asp-area="Portal" asp-page="/Accounts/Login" asp-route-retUrl="/Privacy">Go To login</a>